.main-grid {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.main-grid > div {
  transition:
    scale 350ms ease-in-out,
    opacity 350ms ease-in-out;
}

.main-grid:has(div:hover) > div:not(:hover) {
  scale: 0.8;
  opacity: 0.6;
}

@media screen and (max-width: var(--mobile-media-query)) {
  .main-grid {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}