.transmission-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  color: var(--orange);
  border-bottom: 1px solid var(--muted);
}

.transmission-form-header-title {
  text-shadow: 0 8px 28px 
  color-mix(in oklch, var(--orange) 18%, transparent);
}

.transmission-form-header-title span {
  color: var(--blood-red);
}

@media screen and (max-width: 959px) {
  .transmission-form-header {
    padding: 0;
  }

  .transmission-form-header-title {
    font-size: 12px;
  }
}