.grid-panel-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  font-size: 3rem;
  padding: 1.5rem;
  grid-area: input;
  grid-column: auto;
  grid-row: auto;
  place-self: center;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--text-primary);
  border-radius: 8px;
  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease;
}

.grid-panel-box:hover {
  box-shadow: 0.3rem 0.3rem 0.3rem var(--text-primary);
  background-color: var(--background-primary);
  transition: background-color 25ms ease-in-out;
}

  @media screen and (max-width: var(--mobile-media-query)) {
    .grid-panel-box {
      margin-top: 1rem;
      width: 100%;
      height: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
      font-size: 2rem;
    }

    .grid-panel-box:hover {
      box-shadow: none;
      background-color: none;
      transition: none;
    }
  }