.mark {
  position: absolute;
  font-size: 1rem;
  letter-spacing: 0.16em;
  color: var(--muted);
  bottom: 2rem;
  right: 2rem;
}

@media screen and (max-width: 959px) {
  .mark {
    font-size: 12px;
  }
}