.section {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  height: 100dvh;
  scroll-snap-align: start;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}