.contact-container {
  width: 100%;
  height: 100vh;
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  background-color: var(--background-primary);
  transition: background-color 3s ease;
}

.contact-info {
  width: 100%;
}

.contact-header {
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  font-size: 7rem;
}

.contact-summary {
  text-align: left;
}

.contact-summary-header {
  color: var(--text-primary);
  font-size: 2rem;
  text-align: left;
}

@media screen and (max-width: 959px) {
  .contact-container {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
  }

  .contact-header {
    font-size: 1.5rem;
  }

  .contact-summary {
    text-align: center;
  }

  .contact-summary-header {
    text-align: center;
    font-size: 1.5rem;
  }
}