.transmission-form {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  height: 60%;
  border-left: 1px solid var(--muted);
  border-right: 1px solid var(--muted);
  border-bottom: 1px solid var(--muted);
  width: 100%;
}

.transmission-turnstile {
  height: 48;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 959px) {
  .transmission-form {
    padding: 1rem;
    height: auto;
  }

  .transmission-turnstile {
  }
}