.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--lightest-gray);
}

.contact-sector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 30%;
  border-left: 1px solid var(--lightest-gray);
  padding: 2rem;
  gap: 1rem;
}

.contact-title {
  text-shadow: 0 8px 28px 
  color-mix(in oklch, var(--lightest-gray) 18%, transparent);
}

.contact-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--muted);
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact-form-input {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .contact {
    min-height: auto;
    height: auto;
    font-size: 2rem;
  }

}