.navbar-adminis {
  font-size: 1.5rem;
  text-decoration: none;
  user-select: none;
  color: var(--text-primary);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4375rem;
  position: relative;
  user-select: none;
  border: 3px solid var(--text-primary);
  padding: 6px 4px 4px 4px;
}