.hate {
  display: block;
  height: 600px;
  width: 50%;
  text-wrap: wrap;
  word-wrap: break-word;
  transition: scrollbar-color 2s ease;
  color: var(--text-primary);
}

@media screen and (max-width: 959px) {
  .hate {
    height: 400px;
    width: 80%;
  }
}