.landing-container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 959px) {
  .landing-container {
    height: auto;
  }
}