.navbar {
  position: absolute;
  z-index: 20;
  height: 100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-primary);
  padding: 2rem 3rem;
  overflow: hidden;
  transition: background-color 2s ease;
  backdrop-filter: blur(12px);
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 1px solid rgb(251, 126, 20, 0.2);
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 959px) {
  .navbar {
    position: sticky;
  }
}