.transmission-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--lightest-gray);
  text-decoration: none;
  transition: color 300ms ease;
  border-top: 1px solid var(--muted);
  padding-top: 1rem;
}

.transmission-link:last-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--muted);
}

.transmission-link:hover span {
  color: var(--orange);
}

.transmission-text {
  padding-right: 2rem;
}

.transmission-link:active, .transmission-link:visited {
  text-decoration: none;
}

@media screen and (max-width: 959px) {
  .transmission-link {
    font-size: 12px;
  }

  .transmission-text {
    font-size: 12px;
  }
}