:root {
  font-family: 'Blender Pro';
  --orange: #FB7E14;
  --black: #000000;
  --dark-gray: #151515;
  --gray: #292929;
  --white: #FFFFFF;
}

[data-colormode='light'] {
  --background-primary: var(--white);
  --nav-primary: var(--gray);
  --text-primary: var(--orange);
  --text-secondary: var(--gray);
}

[data-colormode='dark'] {
  --background-primary: var(--gray);
  --nav-primary: var(--orange);
  --text-primary: var(--orange);
  --text-secondary: var(--white);
}

*,
*::before,
*::after {
  margin: 0;
}

* {
  scrollbar-color: transparent;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--text-primary);
  transition: scrollbar-color 3s ease;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: var(--background-primary);
  transition: background-color 3s ease;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-primary);
  transition: background-color 3s ease;
  border-radius: 10px;
  border: 4px solid var(--background-primary);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


#root {
  align-items: center;
  isolation: isolate;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}